[class*="col-"] {
  height: 100px;
  border: 0.1px solid;
  background-color: lightgrey;
  text-align: center;
  line-height: 100px;
}

.nes {
  background-color: lightgreen;
  border: solid white;
}
